*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f0f0f;
}
.con{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 480px; */
    -webkit-box-reflect:below 2px linear-gradient(transparent 10%,black);
}
.box{
    width: 600px;
    height: 200px;
    background: linear-gradient(45deg , red 10%,transparent 10%,transparent 50%, red 50%,red 60%, transparent 60%,transparent 100%),linear-gradient(135deg , rgb(192, 65, 65) 10%,transparent 10%,transparent 50%, rgb(192, 65, 65) 50%,rgb(192, 65, 65)60%, transparent 60%,transparent 100%);
    border-radius: 8px;
    background-size: 40px 40px;
    
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0%{
        background-position: 40px;
        filter: hue-rotate(0deg);
    }
 
 
    100%{
        filter: hue-rotate(360deg);
        background-position: 0px;
    }
}